{{partial 'sidebar'}}

<div class="ui main container pusher">
  <div class="ui divider"></div>
  <div class="ui center aligned huge header">Awesome New Blog <div class="sub header">By Awesome People</div></div>
  <div class="ui horizontal header divider"><i class="idea icon"></i></div>
    <div class="c-notification__container">
      {{#each notifications as |notification|}}
          {{notification-message notification=notification}}
      {{/each}}
    </div>
    {{outlet}}
</div>

{{partial 'footer'}}

{{outlet 'modal'}}

<script>
$(function(){
  $('.left.sidebar')
  .sidebar('attach events','.ui.launch.button')
  .sidebar('attach events','a.item')
  .sidebar('setting','context','div')
  .sidebar('setting','transition','overlay')
  ;

  $('#menu-button')
  .mouseenter(function(){
		$(this).stop().animate({width: '100px'}, 300,
             function(){$(this).find('.text').show();});
	}).mouseleave(function (event){
		$(this).find('.text').hide();
		$(this).stop().animate({width: '40px'}, 300);
	});

});
</script>
