{{partial 'sidebar'}}

<div class="ui main container">
  <div class="ui divider"></div>
  <div class="ui center aligned huge header">Awesome New Blog <div class="sub header">By Awesome People</div></div>
  <div class="ui horizontal header divider"><i class="idea icon"></i></div>
    <div class="c-notification__container">
      {{#each notifications as |notification|}}
          {{notification-message notification=notification}}
      {{/each}}
    </div>
    {{outlet}}
</div>

{{partial 'footer'}}

{{outlet 'modal'}}
